<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="padre-examen">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `padre-examen`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreExamen extends Polymer.Element {
      static get is() { return 'padre-examen'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'padre-examen'
          }
        };
      }
    }

    window.customElements.define(PadreExamen.is, PadreExamen);
  </script>
</dom-module>
