<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../hijo1-examen/hijo1-examen.html">
<link rel="import" href="../hijo2-examen/hijo2-examen.html">
<dom-module id="padre-examen">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
       <template is='dom-if' if='[[hijo1]]'>
      <hijo1-examen on-click-boton="obtenerId"></hijo1-examen>
      </template>
      
      <template  is='dom-if' if='[[hijo2]]'>
      <hijo2-examen id="hijo2" table="[[table]]" lista="[[lista]]" ></hijo2-examen>
      </template>
      
  </template>

  <script>
    /**
     * `padre-examen`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreExamen extends Polymer.Element {
      static get is() { return 'padre-examen'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'padre-examen'
          },hijo1: {
            value: true,
          },
            hijo2: {
            value: false,
          }
            ,
            table: {
            value: false,
          },
            lista: {
            value: false,
          }
        };
      }
        
        
     obtenerId(e){
       //  alert(e.detail);
        var id = e.detail;
           this.hijo1=false;
            this.hijo2=true;  
             
        switch(id){
            case 'boton1':
               this.lista= true;
               this.table= false;
            break;
            case 'boton2':
               this.lista= false;
               this.table= true;
            break;
    }
        
        
    }
    }

    window.customElements.define(PadreExamen.is, PadreExamen);
  </script>
</dom-module>
